<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue.js"></script>
</head>
<body>
    <div id="box">
        <!-- 监听输入事件 -->
        <input type="text" @input="handleInput" v-model="mytext">
        <ul>
            <li v-for="(item, idx) in dataList" :key="item">
                {{item}}
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: '#box',
            data: {
                dataList: ['aaa', 'bbb', 'ccc', 'abc'],
                mytext: '',
            },
            methods: {
                handleInput() {
                    this.dataList = this.dataList.filter((value, idx)=>{
                        //符合条件返回true
                        return value.includes(this.mytext)
                    })
                }
            }
        })
    </script>
</body>
</html>